<div>
<label> Login : </label> 
<input #login 
(keyup.enter)="onPress(login.value,password.value); login.value='';password.value=''" />
<br><br><br><br>
<label> Mot de passe : </label>
<input #password 
(keyup.enter)="onPress(login.value,password.value); login.value='';password.value=''"/>
</div>
<br><br><br>
<button (click)="onPress(login.value,password.value); login.value='';password.value=''">Connexion</button>
<br><br><br>
<div *ngIf="check">
    Connexion reussie
</div>
<div *ngIf="check===false">
    Veuillez essayer de nouveau
</div>